<section class="container block">
    <div class="block__header">
        <h2>Host on the cloud to keep Growing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.</p>

    </div>

    <div class="grid grid--1x2 feature">
        <div class="feature__content">
            <div class="icon-container">
                <svg class="icon icon--secondary">
                    <use xlink:href="img/sprite.svg#easy"></use>
                </svg>
            </div>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at.
                Labore excepturi
                officia dolores!</p>
            <a href="#" class="left-arrow">learn more</a>

        </div>
        <div class="feature__image__container">
            <img class="feature__image" src="img/easy.webp" alt="">

        </div>
    </div>
    <div class="grid grid--1x2 feature">
        <div class="feature__content">
            <div class="icon-container">
                <svg class="icon icon--secondary">
                    <use xlink:href="img/sprite.svg#easy"></use>
                </svg>
            </div>
            <h3 class="feature__heading">Simply Fast Websites
                e</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at.
                Labore excepturi
                officia dolores!</p>
            <a href="#" class="left-arrow">learn more</a>

        </div>
        <div class="feature__image__container">
            <img class="feature__image" src="img/wordpress.webp" alt="">

        </div>
    </div>

    <div class="grid grid--1x2 feature">

        <div class="feature__content">
            <div class="icon-container">
                <svg class="icon icon--secondary">
                    <use xlink:href="img/sprite.svg#easy"></use>
                </svg>
            </div>
            <h3 class="feature__heading">Wordpress Made Easy
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at.
                Labore excepturi
                officia dolores!</p>
            <a href="#" class="left-arrow">learn more</a>

        </div>
        <div class="feature__image__container">
            <img class="feature__image" src="img/support.webp" alt="">

        </div>
    </div>
</section>