<blockquote class="quote">
    <p class="quote-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iste beatae deleniti
        cupiditate error maiores quae adipisci, doloribus inventore? Odit.</p>
    <footer>
        <div class="media">
            <div class="media-image">
                <svg class="icon icon--secondary quote__line">
                    <use xlink:href="img/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media-body">
                <h3 class="media-title quote__author">John Doe</h3>
                <p class="quote__organization">ABC Company</p>
            </div>
    </footer>
</blockquote>