<div class="card testimonial">
    <div class="grid grid--1x2">
        <div class="testimonial__image">
            <img class="testimonial__image" src="img/testimonial.jpg" alt="">
            <span class="icon-container icon-container--accent">
                <svg class="icon icon--white icon--small">
                    <use xlink:href="img/sprite.svg#quotes"></use>
                </svg>
            </span>

        </div>
        <blockquote class="quote">
            <p class="quote-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iste beatae deleniti
                cupiditate error maiores quae adipisci, doloribus inventore? Odit.</p>
            <footer>
                <div class="media">
                    <div class="media-image">
                        <svg class="icon icon--secondary quote__line">
                            <use xlink:href="img/sprite.svg#line"></use>
                        </svg>
                    </div>
                    <div class="media-body">
                        <h3 class="media-title quote__author">John Doe</h3>
                        <p class="quote__organization">ABC Company</p>
                    </div>
            </footer>
        </blockquote>
    </div>
</div>